<div class="container">
  <div *ngIf="resources.length > 0" class="container">
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Contenuto</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resource of resources">
          <th scope="row">{{resource.id}}</th>
          <td>{{resource.name}}</td>
          <td>{{resource.content}}</td>
          <td><button class="btn btn-outline-success"> Dettaglio > </button>
        </tr>
        <tr class="w100">
          <button class="btn btn-outline-dark" (click)="back()"> Indietro </button>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="container">
  

</div>